################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learning-CSharp/.vs/Learning/*
/.vs
/Learning-CSharp/packages
/Learning-CSharp/*/bin/*
/Learning-CSharp/*/obj/*
/Gemfile.lock
/Gemfile
/ML/**/*.ipynb_checkpoints/*
/ML/**/*.rmd
/Learning/**/*.csproj.user
