################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Microsoft Visual Studio ignore items
**/.vs
/.vscode

# C-Sharp ignore items
/Learning-CSharp/packages
/Learning-CSharp/**/bin/*
/Learning-CSharp/**/obj/*
/Learning-CSharp/**/*.csproj.user
/DotNetCore3_0/**/bin/Debug/*
/DotNetCore3_0/**/obj/*
/DotNetCore3_0/**/bin/Debug/*
/DotNetCore3_0/**/obj/*

# Python and Jupyter notebook ignore items
*.Rmd
**/__pycache__
/.venv
/Gemfile.lock
/Gemfile
**/*.ipynb_checkpoints/*
