################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learning-CSharp/.vs/Learning/*
/.vs
/Learning-CSharp/packages
/Learning-CSharp/*/bin/*
/Learning-CSharp/*/obj/*
/Learning/*/*.csproj.user
/ML/*/.ipynb_checkpoints/*
/ML/*/*.rmd
/Learning-CSharp/Learning.DesignPatterns/Learning.DesignPatterns.csproj.user
